body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Example light background */
}

#myTitle {
    font-size: 3em;
    color: #007BFF; 
}

.container {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#error-display {
    color: #c00; 
    background-color: #fdd;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c00;
}
